.editable-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.editable-task input {
  height: 24px;
  width: 90%;
}

.editable-task .del-btn {
  color: white;
  background-color: rgb(245, 66, 66);
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 4px;
}

.editable-task .del-btn:hover {
  cursor: pointer;
  background-color: rgb(245, 47, 47)
}