.experience-display-entry-container {
  padding: 1rem;
  width: 95%;
  margin: 0 auto 1.5rem auto;
  border: 1px solid black;
  border-radius: 4px;
}

.experience-display-entry-container h2 {
  margin-top: 0.3rem;
}

.company-date-container {
  display: flex;
  justify-content: space-between;
}
