html {
  font-size: 16px;
}

body {
  background-color: rgb(65, 64, 64)
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

i {
  font-style: italic;
}

.large {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}